.signinContainer {
  @media screen and (min-width: 940px) {
    max-width: 688px;
    padding: 40px;
    margin: 0 auto;
  }

  .passwordGroup {
    margin: 30px 0;
  }

  .signInBtn {
    width: 100%;
  }

  .links {
    text-align: center;
  }
}
