.personalInfoWrapper {
  @media screen and (min-width: 940px) {
    width: 60%;
  }

  .title {
    font-size: 24px;
    text-align: left;
  }
}

.formGroup {
  margin: 20px 0;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}
