body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* global styles  */
button {
  cursor: pointer;
  font-weight: 700;
  line-height: 1;
  outline: 0px;
  border-radius: 50px;
  font-size: 14px;
  height: 40px;
  padding: 0px 16px;
  width: 100%;
  background-color: rgb(48, 53, 132);
  border: 2px solid rgb(48, 53, 132);
  color: rgb(255, 255, 255);

  @media screen and (min-width: 940px) {
    width: auto;
  }
}

.title {
  text-align: center;
  color: #15181d;
  font-weight: 600;
  font-family: inherit;
  font-size: 24px;
  line-height: 36px;
}

.formInput {
  font-family: inherit;
  font-size: 0.875rem;
  line-height: 1.25rem;
  height: 40px;
  letter-spacing: 0.015rem;
  font-weight: 400;
  color: rgb(73, 73, 73);
  border: 1px solid rgb(123, 133, 143);
  display: block;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px 15px;
  margin: 0px;
  min-width: 280px;
  width: 100%;
}

.label {
  font-family: inherit;
  font-size: 15px;
  line-height: 20px;
  color: #15181d;
  font-weight: 500;
  margin-bottom: 4px;
  display: block;
}

.error {
  margin: 4px 0px 0px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02rem;
  line-height: 22px;
  color: rgb(222, 46, 33);
}

.alignCenter {
  text-align: center;
}
